<div class="row">
    <div class="col-12">
        <br>
        <!-- Contact -->
        <section class="contact">
            <div style="margin-bottom: 4%; color: darkgrey;">Reach out to me on any of these channels:</div>
            <ul class="icons">
                <!-- <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li> -->
                <li><a href="https://meruman.itch.io/" class="icon brands fa-itch-io"><span
                            class="label">itch.io</span></a></li>
                <li><a href="https://www.youtube.com/channel/UCQA363EbfyEFmT3F7QYkCyg"
                        class="icon brands fa-youtube"><span class="label">Youtube</span></a></li>
                <li><a href="https://www.twitch.tv/meruman" class="icon brands fa-twitch"><span
                            class="label">Twitch</span></a></li>
                <li><a href="https://www.instagram.com/meru.games/" class="icon brands fa-instagram"><span
                            class="label">Instagram</span></a></li>
                <li><a href="https://www.linkedin.com/in/martinmeru/" class="icon brands fa-linkedin-in"><span
                            class="label">Linkedin</span></a></li>

                <li><a href="https://github.com/Meruman" class="icon brands fa-github"><span
                            class="label">Github</span></a></li>
            </ul>
        </section>
    </div>
</div>