<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>

<!-- Carousel -->
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/main.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>


<script>const main_section = document.querySelector("#main");
</script>
{{ range .Site.RegularPages }}
{{ $blogTitle := .Title }}
{{ $blogContent := .Content }}
{{ $blogHeaderImage := .Params.featureImage }}
{{ $tocEnabled := .Params.toc }}
{{ $blogImages := .Params.blogImages }}
<script>
  $(document).ready(function () {
    $(".blog-entry[data-blog-id='{{ .Params.id }}']").click(function (e) {
      e.preventDefault();
      document.body.style.overflow = "hidden";
      //Update image
      $(".PortfolioImage").attr("src", '{{ $blogHeaderImage }}');
      // Clear any existing images in the left column
      $(".left-column").empty();
  if ({{ $blogImages }}) {
    document.getElementById('blog-colums').className = 'two-columns';
    {{/*  $(".two-columns").style.grid-template-columns = "1fr 2fr";  */}}
    let imagesHtml = "";
    {{ $blogImages }}.forEach(function (image) {
        imagesHtml += `<img src="${image}" />`;
    });
    $(".left-column").html(imagesHtml);
}
else{
  document.getElementById('blog-colums').className = 'one-column';}


      // Update the modal content with the blog content
      $(".blog-entry-content").html('{{ $blogContent }}');


      //Update title
      $(".modal-title").html('{{ $blogTitle }}');

      // Show the modal
      $(".modal-container").fadeIn();
      $(".modal-container").scrollTop(0);

    });

  // Add an event listener to the close button
  $(".close").click(function () {
    document.body.style.overflow = "auto";
    $(".modal-container").fadeOut();
    $(".left-column").empty();
    $(".PortfolioImage").attr("src", '');
  });

  // Hide the modal when the user clicks outside the modal
  $(".modal-container").click(function (event) {
    if (event.target == this) {
      document.body.style.overflow = "auto";
      $(".modal-container").fadeOut();
      $(".left-column").empty();
      $(".PortfolioImage").attr("src", '');
    }
  });

    
  });
</script>
{{ end }}