<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<script>function preloadImages(srcs) {
    if (!preloadImages.cache) {
      preloadImages.cache = [];
    }
    var img;
    for (var i = 0; i < srcs.length; i++) {
      img = new Image();
      img.src = srcs[i];
      preloadImages.cache.push(img);
    }
  }</script>

<body class="is-preload">
  <div id="wrapper">
    {{- partial "header.html" . -}}
    <div id="main">
      {{- block "main" . }}{{- end }}
    </div>
    {{- partial "footer.html" . -}}
  </div>
  {{- partial "script.html" . -}}

  <div class="modal-container">
    <div class="modal" id="blog-modal">
      <span class="close">&times;</span>
      <section>
        <article class="modal-article">
          <header class="modal-header">
            <h2 class="modal-title"></h2>
            <p id="download-icon" class="date">Find it in: </p>
            {{/* <p class="date">February 24, 2023</p> */}}
            {{/* <a style="width: 100px;"></a> */}}
          </header>
          <div style="text-align:center;">
            <img class="PortfolioImage" style="width: 40%;" />
          </div>

          <div id="blog-colums" class="two-columns">
            <!-- left column for images -->
            <div class="left-column">
            </div>
            <div class="right-column">
              <div class="blog-entry-content" style="font-size: 80%;"></div>
            </div>
          </div>
        </article>
      </section>

    </div>
  </div>
</body>

{{ range .Site.RegularPages }}
  {{ $blogImages := .Params.blogImages }}
  <script>
    if ({{ $blogImages }}) {
      // then to call it, you would use this
      preloadImages({{ $blogImages }});
    }
  </script>
  {{ end }}

</html>